#sort ul li{
	float: left;
	list-style: none;
	margin-left: 12px;
}
#sort{
	padding-bottom: 30px;
}
#filter{
	border:1px solid #ccc;
	padding-bottom: 50px;
}
#filter input[type='checkbox']{
	margin-left: 5px;
}
