#detail_product{
	margin-top: 20px;
	background: white;
}
#detail_img{

	padding-bottom: 30px;
}
#detail_sp{
	
}
#img_chinh {
	border:1px solid #ccc;
	margin-left: -14px;
	position: relative;
	width: 467px;
    height: 482px;								
}
#img_chinh img{
	width: 467px;
	height: 480px;
	width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: all 0.3s ease;
}
#img_chinh img.active {
  opacity: 1;
}
#detail_img ul li img{
	width: 77px;
	height: 60px;
}
#detail_img ul{
	margin-top: 30px;
	display: block;
	margin-left: 57px;
}
#detail_img ul li {
	display: block;
	margin-left: 5px;
	border:1px solid #ccc;
}

.owl-next{
	position: absolute;
    padding-top: 22px;
    margin-left: 403px;
    width: 20px;
}
.owl-prev{
  margin-left: 47px;
    width: 10px;
    padding-top: 22px;
    position: absolute;
}
.dh{
	font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    color: #eb0000;
    position: relative;
    padding: 5px 5px 5px 40px;
    margin-bottom: 10px;
    border-radius: 2px;
    background-color: #fff9fa;
    border: solid 1px #ffdddd;
    text-align: center;
}
p{
	font-size: 14px;
}
#color{
	margin-top: 30px;
}
#mau{
	margin-top: -14px;
}
#mau button{
	padding: 10px;
	border: 2px solid #E1E8EE;
    border-radius: 6px;
    padding: 13px 20px;
    font-size: 14px;
    cursor: pointer;
    transition: all .5s;
}
a{
	text-decoration:none;
}
#mua{
	width: 304px;
    height: 66px;
}
#tg{
	width: 304px;
    height: 66px;
}
#thanh_toan{
	margin-top: 20px;
}
#title_mota{
	background: #2c2c43;
}
#title_mota ul li b a{
	color: white;
}
#title_mota ul li{
	float:left;
}
#title_mota ul li{
	padding: 12px;
}
#thong_so{
	background: white;
	padding-left: 20px;
	border-bottom: 1px solid #ccc;
	padding-bottom: 20px;
}
#chitiet_sp{
	margin-top: 20px;
	background: white;
	padding-left: 20px;
	border-bottom: 1px solid #ccc;
	padding-top: 20px;
	padding-bottom: 30px;
}
#chitiet_sp p{
	font-size: 15px;
}
#chitiet_sp img{
	width: 1170px;
	margin-left: -20px;
}
.title_title{
	margin-top: 30px;
}
#title_left{
	color:#ccc;
	font-size: 15px;
}
#title_right{
	color: black;
	font-size: 15px;
}
#next_kt{
	border:1px solid #ccc;
	padding-top: 10px;
}
#next_kt:hover{
	color: blue;
	border:1px solid blue;
}
#suppost {
	
	border:1px solid #ccc;
	margin-left: 30px;
}
#suppost img{
	width: 300px;
	height: 330px;
	margin-left: 32px;
	
}

#title_danh_gia{
	border-radius: 1px;
    background-color: #eaeced;
    padding: 5px;
    padding-left: 20px;
    width: 677px;
    margin-left: -20px;
}
#nx{
	margin-top: 20px;
}
#cnang{
	margin-left: 20px;
	margin-top: 25px;
}
#cnang input[type="text"]{
	    width: 193px;
    height: 30px;
    border: 1px solid #ccc;
    background-color: #f7f9fa;
    border-radius: 5px;
    margin-left: 10px;
}
.btn-info{
	margin-top: -4px;
}
//category
#xoa{
	margin-left: 18px;
	display: block;
}
#old-price{
    position: relative;
    text-align: right;
    text-decoration: line-through;
    padding-right: 10px;
    color: black;
}
#item_product{
	text-align: center;
    border: 1px solid #ccc;
    margin-left: 17px;
    padding-top: 10px;
    padding-bottom: 5px;
    height: 310px;
    margin-bottom: 10px;
}