.grid {
	position: relative;
	margin: 0 auto;
	list-style: none;
	text-align: center;
}
.grid figure {
	position: relative;
	overflow: hidden;
	min-width: 100%;
	max-width: 100%;
	max-height: 400px;
	width: 48%;
	text-align: center;
	margin-left: 0px;
}
.grid figure img {
	position: relative;
	min-height: 100%;
	max-width: 80%;
	height: 200px;
	left: 0px;
}
.grid figure figcaption {
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}
.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: -10px;
    left: 0;
}
figure.effect-zoe figcaption p span a{
	 text-decoration:none;
}
figure.effect-zoe figcaption p{
	margin-top: 0px;
}
figure.effect-zoe figcaption {
	top: auto;
	bottom: 0;
	padding: .5em;
	height: 30px;
	color: #ffffff;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
	width: 100%;
	opacity: 0.8;
}
figure.effect-zoe a {
	color: #ffffff;
}

figure.effect-zoe:hover a:hover,
figure.effect-zoe:hover a:focus {
	color: #fff;
}

figure.effect-zoe:hover figcaption,
figure.effect-zoe:hover h2,
figure.effect-zoe:hover p.icon-links a {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
.item-price{
	color: red;
	padding-top: 10px;
	font-size: 16px;
}
.item-name a{
	color: black;
	font-size: 14px;
	text-decoration:none;
	line-height: 40px;
}
.item-name a:hover{
	color: #ff8b31;
}
figure.effect-zoe a img{
	transition: all 1s ease;
-webkit-transition: all 1s ease;
-moz-transition: all 1s ease;
-o-transition: all 1s ease;

}
figure.effect-zoe a img:hover{
	transform: scale(1.5,1.5);
-webkit-transform: scale(1.5,1.5);
-moz-transform: scale(1.5,1.5);
-o-transform: scale(1.5,1.5);
-ms-transform: scale(1.5,1.5);
/*opacity: 0.5;
-webkit-transform: scale(1.2,1.2);
  -webkit-transform-origin: top right;
  -moz-transform: scale(1.2,1.2);
  -moz-transform-origin: top right ;
  -o-transform: scale(1.2,1.2);
  -o-transform-origin: top left;
  transform: scale(1.2,1.2);
  transform-origin: top left;*/
}