*{
    margin: 0;
    padding: 0;
}

.title{
    font-weight: bold;
}

.titleHD{
    
}

img.image{
    display: block;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

p.titleImage{
    text-align: center;
}

p.end{
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: bold;
}