/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 8, 2018, 1:37:03 PM
    Author     : Admin
*/

label{
/*    display: inline;*/
    width: 180px;
    margin-left: 50px;
}

label.titleTopic{
    width: 300px;
/*    border: 2px solid #333;*/
}

.page-header#tt1{
    border-bottom: 1px solid #ff8b31;
    text-align: center;
    color: #ff8b31;
}

.page-header#tt2{
    border-top: 2px solid #666;
    padding-top: 20px;
}
#form_contact{
    width: 900px;
    border: 1px solid #ff8b31;
    padding-top: 50px;
    margin: 0px auto;
    padding-bottom: 50px;
}
#form_contact>button{
    width: 100px;
    float: right;
}
#contact{
    margin-bottom: 50px;
}
.ttLH{
    height: 60px;
    padding-left: 20px;
    border-bottom: 1px solid #333;
    font-size: 15px;
}
input[type='text']{
    width: 300px;
    height: 35px;
    border: 1px solid #ff8b31;
    border-radius: 5px;
}
.ttTopic{
/*    border-bottom: 1px solid #333;*/
    height: 40px;
}
.ttTopic label{
    margin-left: 50px;
}
label.lb1{
    padding-top: 0px;
    text-align: 5px;
    width: 200px;
    float: left;
}

#slTopic{
    height: 30px;
}

#smLH{
    height: 50px;
    width: 100%;
    background-color: #28a4c9;
    margin-bottom: 10px;
    border: none;
}
#ct>p{
    line-height: 38px;
}