.col-center-block { 
float: none;    
display: block; 
margin-left: auto;  
margin-right: auto;
}
.container {    
display: table; 
vertical-align: middle;
}
 
.vertical-center-row {  
display: table-cell;    
vertical-align: middle;
}
 
.login-screen-bg {  
background-color: #EFEFEF;
}
 
.panel-git {    
border: 1px solid #d8dee2;
}
 
.panel-git h3 { 
color: #fff;
}
.panel-git .panel-heading { 
background-color: #829AA8;
}
 
.login-widget { 
padding: 50px;  
border-radius: 10px;    
padding: 30px;  
border:1px solid #ff8b31;
background-color: #FFF;
}
.login-screen-bg {  
background-color: #EFEFEF;
}
.form-group{
	margin-top: 10px;
}